<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokko">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".HabitMasterApplication">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".config.EditorActivity">
            <intent-filter>
                <action android:name="ACTION_EDIT_GROUP" />
                <action android:name="ACTION_EDIT_HABIT" />
            </intent-filter>
        </activity>
        <activity android:name=".config.ConfigActivity"
            android:label="Configure">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".provider.HabitProvider"
            android:authorities="${applicationId}.provider.HabitProvider"
            android:exported="false"
            android:enabled="true" />

        <receiver android:name=".notificationmanager.NotificationManager"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".notificationmanager.Bootreceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
